* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 30px;
    user-select: none;
}

header > h1 {
    color: rgb(4, 0, 36);
    font-size: 2em;
    margin-top: 5px;
}

.colunas {
    display: flex;
    gap: 15px;
    margin-top: 50px;
}

.coluna {
    width: 100%;
    background-color: #f4f5f7;
    height: 100vh;
    border-radius: 8px;
}

.titulo-coluna {
    color: #4d5c76;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px;
}

.cards-coluna {
    padding: 4px;
    height: 100vh;
    border-radius: 5px
}

.card {
    width: 100%;
    min-height: 70px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dfe1e6;
    box-shadow: 0 2px 2px #dfe1e6;
    padding: 12px 14px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #4d5c76;
    margin-bottom: 5px;
}

.foco-coluna {
    background-color: #deebff;
    border: 1px solid rgb(67, 67, 255);
}
