@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 30px;
    user-select: none;  /*Dasativa a função de selecionar os elementos de dentro do main*/
}

header > h1{
    color: #201029;
    font-size: 2em;
    font-weight: 600;
    margin-top: 5px;
}

.colunas {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.coluna {
    width: 100%;
    background-color: #ccccce;
    height: 100dvh;
    border-radius: 5px;
}

.titulocoluna {
    color: #4D5C76;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px;
}

.cards-coluna {
    padding: 4px;
    height: 100%;
}

.card {
    width: 100%;
    min-height: 70px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 0 2px 2px #dfe1e6;
    padding: 12px 14px;
    font-size: 0.9em;
    font-weight: 500px;
    color: #4D5C76;
}

.coluna-highlight {
    background-color: #deebff;
    border-radius: 5px;
    border: 2px solid rgb(53, 177, 214);
}